<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3 text-center">
        <h1>Welcome to Learning Managment System</h1>
        <p>Learning Management System (LMS) is an e-learning software application that handles the delivery, 
          administration, automation, and analytics of learning materials.
           As such, an LMS is a highly organized set of software that serves the entire online educational ecosystem.</p>
        <!-- <button mat-raised-button color="accent">Home Page</button> -->
      </div>
    </div>
  </div>
</div>
