/* .mat-card{
    background-color:rgb(36, 31, 31) !important;
    padding:5px !important;
  }
  
   .mat-card{
    padding:0 !important;
  }
  
  .mat-card-content{
    padding:0px !important;
  } */